<nav class="nav">
    <h1>ECommere</h1>
    <div class="nav-search">
        <input type="text" name="search" id="search" placeholder="Search For Products">
        <button>Search</button>
    </div>
    <div class="nav-links">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/Seller">Seller</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
        </ul>
    </div>
</nav>