<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign Up</h1>
        <form #SellerSignUpform="ngForm" class="common-form">
            <label class="form-label" for="Name">Name</label>
            <input class="form-input" name="Name" type="text" id="" placeholder="Enter Name">
            <label class="form-label" for="Password">Password</label>
            <input class="form-input" name="Password" type="password" id="" placeholder="Enter password">
            <label class="form-label" for="Email">Email</label>
            <input class="form-input" name="Email" type="text" id="" placeholder="Enter Email">
            <button class="form-btn seller-auth">SignUp</button>
        </form>
    </div>
</div>